@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
* {
  font-family: "PT Serif", serif;
  margin: 0;
}

main {
  width: max-content;
  margin: 40px auto;
  border: 1px solid #999;
}

main > div {
  padding: 10px;
  border-bottom: 1px solid #999;
  text-align: center;
}

input[type="text"] {
  width: 80px;
  font-size: 30px;
}

select {
  font-size: 30px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

textarea {
  background-image: linear-gradient(rgb(186, 186, 226), lightblue);
  font-size: 24px;
  padding: 10px;
}
